<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :company_name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  </br>

  <div class="field form-group">
    <%= form.label :pay_period_start %>
    <%= form.date_select :start_date, class: 'form-control' %>
  </div>

  </br>

  <div class="field form-group">
    <%= form.label :pay_period_end %>
    <%= form.date_select :end_date, class: 'form-control' %>
  </div>

  </br>

  <div class="actions">
    <%= form.submit "Create Company", class: 'btn btn-outline-primary' %>
  </div>
<% end %>
