<% tab "company" %>

<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h2><%= @company.name %></h2>

                </br>
                <p><strong>Owner</strong></p>
                <p><%= @company.employees.find_by(type: "Owner").user.name %></p>
                
                </br>
                <p><strong>Managers</strong></p>
                <ul>
                    <% @company.employees.where(type: "Manager").each do |manager| %>
                        <li><%= manager.user.name %> <%= curr_emp.manager_options(@company, manager) %></li>
                    <% end %>
                </ul>

                </br>
                <p><strong>Employees</strong></p>
                <ul>
                    <% @company.employees.where(type: "Employee").each do |employee| %>
                        <li><%= employee.user.name %> <%= curr_emp.employee_options(@company, employee) %></li>
                    <% end %>
                </ul>

                </br>

                <%= eval(curr_emp.add_employee_form) %>

                </br></br>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Pay Periods</h3>

                </br>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">My Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @company.pay_periods.each do |pay_period| %>
                            <tr>
                                <td><%= pay_period.start_date %></td>
                                <td><%= pay_period.end_date %></td>
                                <td><%= curr_emp.pay_time(pay_period) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
