<% tab "timesheet" %>
<% employee = Employee.find_by(company_id: cookies[:curr_company].to_i, user_id: current_user.id) %>
<% is_clocked_in = employee.is_clocked_in %>

<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="alert <%= if is_clocked_in then 'alert-success' else 'alert-danger' end %> text-center" role="alert">
      <%= if is_clocked_in then 'Clocked In' else 'Clocked Out' end %>
    </div>
  </div>
  <div class="col-4"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-2">
    <div class="btn-group-vertical">
      <% current_user.companies.each do |company| %>
        <a class="btn btn-outline-dark <%= if cookies[:curr_company].to_i == company.id then 'font-weight-bold' else '' end %>" href="/set_company?company_id=<%= company.id %>"><%= company.name %></a>
      <% end %>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body text-center">
        <% employee.pay_periods.uniq.each do |pay_period| %>
        <p><b><%= pay_period.start_date %> to <%= pay_period.end_date %></b></p>
        <p>Total: <%= employee.pay_time(pay_period) %></p>
        
        <table class="table">
          <tbody>
            <% pay_period.punches.where(employee_id: employee.id).order("created_at DESC").uniq.each do |punch| %>
              <tr>
                <td><%= punch.punched_at.localtime.to_s(:short) %></td>
                <td><%= punch.punch_type %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>